apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: gitops-appsets-and-rollouts-app1
spec:
  generators:
  - git:
      repoURL: https://github.com/suranc/gitops-appsets-and-rollouts.git
      revision: HEAD
      files:
      - path: "app-config/**/config.json"
  template:
    metadata:
      name: '{{application_name}}-{{environment_name}}'
      labels:
        harness.io/envRef: '{{harness_environment}}'
        harness.io/serviceRef: '{{harness_service}}'
        #harness.io/buildRef: '{{image_tag}}'
        test: 'test'
    spec:
      project: '{{argo_project}}'
      sources:
        - repoURL: https://github.com/suranc/gitops-appsets-and-rollouts-app-manifests.git
          targetRevision: '{{git_tag}}'
          path: '{{application_name}}-{{environment_name}}/helm'
          helm:
            parameters:
            - name: imageTag
              value: "{{image_tag}}"
            valueFiles:
            - values.yaml
        - repoURL: https://github.com/suranc/gitops-appsets-and-rollouts-app-manifests.git
          targetRevision: '{{git_tag}}'
          path: '{{application_name}}-{{environment_name}}/manifests'
      destination:
        server: '{{cluster}}'
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          selfHeal: false
        syncOptions:
        - PruneLast=true
        - CreateNamespace=true
        - ApplyOutOfSyncOnly=true
